.footer {
  width: 100%;
  padding: 60px 0;
  background-color: #fcf5e5;
}

.footer__copyright {
  font-weight: 400;
  opacity: 0.7;
  margin: 0 auto;
  color: #212121;
  display: flex;
  justify-content: center;
}
